.container {
  width: 250px;
  text-align: center;
  margin-left: 10px;
}
.field {
  width: 100%;
  height: 30px;
}
.btn {
  display: block;
  margin: 20px auto;
  padding: 10px 15px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  color: #FFFFFF;
  background: #ff5656;
  border: 2px solid #ff5656;
  border-radius: 5px;
  &:hover {
    background: red;
  }
}